{% extends "admin/layout.html" %}

{% block content %}

   
      <!-- Example row of columns -->
      <div class="row" style="margin-top: 30px;">
        <div class="span4">
          <h2>Representatives</h2>
           <p>Here you can manage representatives profiles</p>
          <p><a class="btn btn-primary" href="/admin/users">Bring me there</a></p>
       </div>
        <div class="span4">
          <h2>Results</h2>
          <p>Here you can view all answers from the questionnaire</p>
          <p><a class="btn btn-primary" href="/admin/results">Bring me there</a></p>
        </div>
      </div>

      <hr>

      <footer>
       
      </footer>






{% endblock %}

