<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>SVG Canada Map</title>

<link href="/canadamap/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/canadamap/css/fonts.css" rel="stylesheet" type="text/css" />
<link href="/canadamap/css/style.css" rel="stylesheet" type="text/css" />
<link href="/canadamap/css/map.css" rel="stylesheet" type="text/css" />

<script src="/js/jquery.js" type="text/javascript"></script>
<script src="/canadamap/js/raphael.min.js" type="text/javascript"></script>
<script src="/canadamap/js/scale.raphael.js" type="text/javascript"></script>
<script src="/canadamap/js/paths.js" type="text/javascript"></script>
<script src="/canadamap/js/init.js" type="text/javascript"></script>

</head>

<body>
	
    <div id="container">
    
        <div class="mapWrapper">
                <div id="map"></div>
                <div id="text"></div>
        </div>
        
    </div>

</body>
</html>

<!-- Localized -->