<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{% trans %}Cystyc Fibrosis{% endtrans %}</title>
<link rel="stylesheet" type="text/css" href="css/style.css">


    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="apple-touch-startup-image" href="/ico/splash.png" />
    
    <link rel="apple-touch-icon" href="/ico/novartis.png"/>
    
     <meta name="format-detection" content="telephone=no" />
    
    <!-- <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /> -->
 
 <script>
    (function () {
      var filename = navigator.platform === 'iPad' ?
        'splash-big.png' : 'splash.png';
      document.write(
        '<link rel="apple-touch-startup-image" ' +
              'href="img/' + filename + '" />' );
    })();
  </script>

</head>
<body id="homepage">

<div id="nh_wrapper">
  <div id="home_header" style="margin-top:-8px;">
      <img src="/images/home_header.jpg" alt="Cystic fibrosis. Case Study" class="display_block" />
    </div>
    
    <div id="home_content" style="margin-top:-8px;">

<div style="position:absolute; left:0px; top:0px; width:1024px; height:672px;">
  <div style="position:absolute; left:115px; top:158px; width:355px; height:64px;">
    <img id="end_03" src="/images/end_03.png" width="355" height="64" alt="" />
  </div>
  <div style="position:absolute; left:705px; top:184px; width:133px; height:65px;">
    <img id="end_06" src="/images/end_06.png" width="133" height="65" alt="" />
  </div>
  <div style="position:absolute; left:195px; top:249px; width:301px; height:179px;">
    <img id="end_10" src="/images/end_10.png" width="301" height="179" alt="" />
  </div>
  <div style="position:absolute; left:706px; top:249px; width:132px; height:104px;">
    <img id="end_12" src="/images/end_12.png" width="132" height="104" alt="" />
  </div>
  <div style="position:absolute; left:607px; top:408px; width:281px; height:20px; font-size:12px; color: #716d6d">
    &copy; Novartis Pharma Canada inc. 2012
  </div>
  
  <div style="position:absolute; left:198px; top:408px; width:281px; height:20px;  font-size:12px; color: #716d6d">
    {% trans %}Printed in Canada:{% endtrans %} {% trans %}TOB-12-09-5536140{% endtrans %}
  </div> 
  
  <div style="position:absolute; left:390px; top:485px; width:176px; ">
     <!-- <a href="/references"><img id="end_19" src="/images/end_19.png" width="176" height="41" alt="" /></a>-->
     <a href="/references"  class="btn_start_again"> {% trans %}References{% endtrans %}</a>
  </div>
  <div style="position:absolute; left:196px; top:485px; width:176px; ">
    <a href="/"  class="btn_start_again"> {% trans %}Start Again{% endtrans %}</a>
  </div>
</div>

    </div>
    <!-- /#home_content-->
    <div id="home_footer">
      <div id="address">
            Novartis Pharma Canada inc. <br/>
            Dorval (Québec)  H9S 1A9
        </div>
        
      <span id="p_date"><br/>{% trans %}Printed in Canada:{% endtrans %} {% trans %}TOB-12-09-5536140{% endtrans %}</span>
        
        <span id="copyrights"><br/>&copy; Novartis Pharma Canada inc. 2012</span>
    </div><!-- /#home_footer-->

</div><!-- /#nh_wrapper-->

<script type="text/javascript" src="js/jquery-1.5.2.min.js" ></script>
<script type="text/javascript" src="js/global.js" ></script>
<script type="text/javascript" src="/js/jquery.stayInWebApp.min.js" ></script>
 <script type="text/javascript">
 $(function() {
      $.stayInWebApp();
  });
 </script>
</body>
</html>